<div class="container">
	<div class="row slide" id="slide10" data-slide="4">
		<div class="span12">

			<div class="row">
				<div class="span12">
					<div class="header-center">
						<h3>CONTACT US</h3> <hr>
					</div>
				</div>
			</div>

			<div class="row" style="margin-top: 30px; ">
				<div class="span3" style="float: left; margin: 32px">
					<iframe width="225" height="225" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.in/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=18503+Pines+Blvd.+Suite+315+Pembroke+Pines,+FL+330290.&amp;aq=&amp;sll=28.565904,77.315598&amp;sspn=0.0395,0.084543&amp;ie=UTF8&amp;hq=&amp;hnear=18503+Pines+Blvd+%23315,+Pembroke+Pines,+Broward,+Florida+33029,+United+States&amp;t=m&amp;z=14&amp;ll=26.010799,-80.395997&amp;output=embed"></iframe><br /><small><a href="https://maps.google.co.in/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=18503+Pines+Blvd.+Suite+315+Pembroke+Pines,+FL+330290.&amp;aq=&amp;sll=28.565904,77.315598&amp;sspn=0.0395,0.084543&amp;ie=UTF8&amp;hq=&amp;hnear=18503+Pines+Blvd+%23315,+Pembroke+Pines,+Broward,+Florida+33029,+United+States&amp;t=m&amp;z=14&amp;ll=26.010799,-80.395997" style="color:#0000FF;text-align:left">View Larger Map</a></small>

				</div>
				<div class="span3" style="float:left; margin: 32px">
					<div class="address">
						<img src="http://www.eatechnologies.com/ischoolCMS/demo/images/add-icon.png" alt=""><strong>MIAMI,FL</strong><br>
						<p>20841 Johnson St. Suite 116<br>
							Pembroke Pines, FL  330290.<br></p>
							<p class="add-p"><img src="http://www.eatechnologies.com/ischoolCMS/demo/images/phone-icon.png" alt="">408.850.0236 (F) 954-212-0221</p>
							<p class="add-p"><img src="http://www.eatechnologies.com/ischoolCMS/demo/images/email-icon.png" alt="">info@eatechnologies.com</p>
						</div>
					</div>

					<div class="span3" style="float:left; margin: 32px;">
						<iframe width="225" height="225" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.in/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=5th+Floor,+SB+Tower,+Sector-16A,+Noida%E2%80%93+2013010&amp;ie=UTF8&amp;hq=&amp;hnear=SB+Towers,+Film+City,+Sector+16A,+Noida,+Gautam+Buddh+Nagar,+Uttar+Pradesh+201301&amp;ll=28.56589,77.315624&amp;spn=0.0395,0.084543&amp;t=m&amp;z=14&amp;output=embed"></iframe><br /><small><a href="https://maps.google.co.in/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=5th+Floor,+SB+Tower,+Sector-16A,+Noida%E2%80%93+2013010&amp;ie=UTF8&amp;hq=&amp;hnear=SB+Towers,+Film+City,+Sector+16A,+Noida,+Gautam+Buddh+Nagar,+Uttar+Pradesh+201301&amp;ll=28.56589,77.315624&amp;spn=0.0395,0.084543&amp;t=m&amp;z=14" style="color:#0000FF;text-align:left">View Larger Map</a></small>

					</div>
					<div class="span3" style="float:left; margin: 32px;">                    
						<div class="address">
							<img src="http://www.eatechnologies.com/ischoolCMS/demo/images/add-icon.png" alt=""><strong>NEW DELHI,INDIA</strong><br>
							<p>5<sup>th</sup> Floor, SB Tower,<br>
								Sector-16A, Noida– 2013010.<br></p>
								<p class="add-p"><img src="http://www.eatechnologies.com/ischoolCMS/demo/images/phone-icon.png" alt="">+91 882.6680.644</p>
								<p class="add-p"><img src="http://www.eatechnologies.com/ischoolCMS/demo/images/email-icon.png" alt="">info@eatechnologies.com</p>					  
							</div>
						</div>
					</div>

				</div>

