
<h1 style="text-align: center"> Request a Demo </h1>
<hr>
<div class="form">
<div>
<label> Name * </label><br>
<input type="text" name="name">
</div>
<div>
	<label>Email Address *</label>
	<input type="email" name="email">
</div>
<div>
	<label>Telephone Number *</label>
	<input type="text" name="telephone number">
</div>
<div>
	<label>School/institute Name *</label>
	<input type="text" name="schoolname">
</div>
<div>
	<label>Comment *</label>
	<input type="text" name="comment">
</div>


</div>
