
<div class="container">
<h1 style="margin-left: 425px"> Request a Demo </h1>
<hr>
	<div class="row">
		<div class="col-lg-6 col-lg-offset-2">
			<div class="form">
				<div class="field">
					Name * <br>
					<input type="text" name="name" class="form-control input-md" >
				</div><br>
				<div class="field">
					Email Address *<br>
					<input type="email" name="email" class="form-control input-md">
				</div><br>
				<div class="field">
					Telephone Number *<br>
					<input type="text" name="telephone number" class="form-control input-md">
				</div><br>
				<div class="field">
					School/institute Name *<br>
					<input type="text" name="schoolname" class="form-control input-md">
				</div><br>
				<div class="field">
					Comment *<br>
					<input type="text" name="comment" class="form-control input-md" style="height: 80px;">
				</div><br>
				<button type="button" class="btn btn-warning"> Submit </button>
			</div>
		</div>
	</div>
</div>
