<!DOCTYPE html>
  <body class="home-body">
      <div class="container">
        <div class="row">
          <div class="col-lg-9">
            <div class="home-carousel">
              <span class="carousel-caption">Boost your Image | Go Green | Mange Content | Explore Unlimited Opportunities</span>
            </div>
            <%= bootstrap_flash %>
            <%= yield %>
          </div>
        </div><!--/row-->
        
      </div> <!-- /container -->
    </body>
</html>