/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

	a{
  	color: black;
  	float: left;	
  }

	body{
		margin-bottom: 50px;
	}
	
	.container-fluid{
		height:100%;
	}

	.field{
		line-height: 20px; 
		width: 750px;
		font-size: 16px;
	}

  .home-carousel {
	  background-color: black;
    color: white;
    font-size: 20px;    
    opacity: 0.5;
    padding: 10px;
    float: center;
    width: 967px;
    margin-left:55px;
	}

	.link{
		padding-left:39px;
		margin-left: 10px;
		margin-top:5px;
	}

	.login-button{
  	color: white;
  	background: none repeat scroll 0 0 #ea6531;
  	border-radius: 5px;
  	border: 0px;
  }

 .navbar{
 		background: url("logoBg.gif") no-repeat scroll left top rgba(0, 0, 0, 0);
		float: left;
		height: 122px;
		width: 408px;
		padding: 40px 0 0 34px;
	}

	.navbar-default{
		background-color: #FFF;
		height:122px;
		width: 100%;
		clear: both;
		box-shadow: 0 0 10px rgba(0,0,0,.1);"
	}

	.navbar-right{
		margin-top: -18px;
	}

	#bs-navbar-collapse{
		float: right;
	  margin-top: 15px;
	  line-height: 10px;
	  width:auto;
	}

  .text-field{
	background-color:#f9f9f9;
	border: 1px solid #dfdfdf;
	border-radius:5px;
  }

 
	
	